.venv/
.env

*.log
**/__pycache__/
*.pyc
tree.py
.vscode/
.idea/

# ruff
.ruff_cache/

# minio
data/
minio_data/

# airflow
logs/
config/
plugins/
*.pid

# metabase
metabase_data/

docker-compose.override.yml